a {
	color: #101418;
}
body.body {

	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 12px;
	background: #f3f3f3;
	.header {
		position: fixed;
		top: 0;
		background: white;
		width: 100%;
		padding: 20px 0;
		height: 80px;
		box-shadow: 3px 0 7px rgba(0,0,0,0.4);
		.header-container {
			width: 1200px;
			margin: 0 auto;		
			.loginBtn {
				float: right;
			}
			img{
				float: left;
			}
			ul{
				float: right;
				margin-right: 20px;
				
				li{
				
					a{
					    padding-top: 8px;
	    				padding-bottom: 8px;
	    				font-weight: bold;
	    				border-radius: 3px;
	    				&:hover {
	    					color: white;
	    					background: #16a085;
	    				}
					}
				
				}
			}
		}
		
	}
	.container{
		.block-action {
			margin: 0 auto;
    		width: 810px;
    		margin-top: 120px;
    		a.a{
    			color: #101418;
				.btn-action {
				    width: 250px;
				    padding: 40px;
				    margin-right: 20px;
				    float: left;
				    border-radius: 10px;
				    background: white;
				    box-shadow: 0 0 5px rgba(0,0,0,0.3);
				    transition: all 100ms ease-out;
					.fa{
					    text-align: center;
					    font-size: 100px;
					    display: block;
					    margin: 0 auto;					    
					    transition: all 100ms ease-out;
					}
					.yes {
						color: #16a085;
					}
					.no {
						color: #e74c3c;
					}
					.blur {
						color: #e67e22;
					}
					.title-action {
						line-height: 50px;
						display: block;
						font-size: 18px;
						text-align: center;
						margin: 0 auto;
						font-weight: bold;
						transition: all 100ms ease-out;
					}
				}
			}
			a:hover.a {
				color: #101418;
				.btn-action {
					padding: 30px;
					.fa{
					    font-size: 120px;
					    
					}
					.title-action {
					}
				}
			}
			
		}	
	}
	
	
	h1.title {
		font-family: 'Lobster', cursive;
		font-size: 38px;
		width: 500px;
		color: white;
		text-align: center;
		display: block;
		margin: 0 auto;
		padding-top: 157px;
		margin-top: 80px;
	}
	
	#connexion-container {
	    background: white;
	    display: block;
	    width: 350px;
	    margin: 0 auto;
	    border-radius: 4px;
	    padding: 30px 50px;
	    margin-top: 120px;
	    
	    .input-group {
	    	border: 1px solid #ccc;
	    }
	    
	    .input-group-addon {
	    	border: none;
	    	background: none;
	    }
	    
	    input {
	    	border: none;
	    }
	    
	    #title-form {
    	    font-family: 'Lobster', cursive;
		    font-size: 24px;
		    margin-bottom: 20px;
		    display: block;
		    text-align: center;
	    }
	    
	    button.btn {
	    	background: #16a085;
	    	border: none;
	    	padding: 10px 0;
	    }
	}
	
	#bg {
		background: url("../resources/images/bg.jpg") no-repeat;
		background-size: cover;
		height: 100vh;
		width: 100%;
		position: absolute;
		z-index: -1;
	}
	
	button.btn {
			border-radius: 50px;
	}
	
	
	#footer {
		position: absolute;
		bottom: -80px;
		background: #101418;
		height: 60px;
		line-height: 60px;
		text-align: center;
		color: white;
		width: 100%;
		p {
			margin-bottom: 0px;
		}	
	}
	
}